
NEXT_PUBLIC_NEYNAR_LOGIN_URL=
NEXT_PUBLIC_PINATA_API_KEY=


NEXT_PUBLIC_POSTGRES_HOST=
NEXT_PUBLIC_POSTGRES_USER=
NEXT_PUBLIC_POSTGRES_PASSWORD=
NEXT_PUBLIC_POSTGRES_DATABASE=
NEXT_PUBLIC_POSTGRES_URL=