

NEXT_PUBLIC_NEYNAR_LOGIN_URL=
NEXT_PUBLIC_PINATA_API_KEY=
NEXT_PUBLIC_NEYNAR_CLIENT_ID=


POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL=
BLOB_READ_WRITE_TOKEN=
RPC_URL=
OPERATOR_MNEMONIC=
OPERATOR_ADDRESS=0x229ef326FE08C8b2423B786052D7E1a1AdDaD226