@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  padding-bottom: 100px; /* protects the content from the overlapping footer. */
  min-height: 100%;
}

body {
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  color: white;
  background: #371a56;
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container-border {
  border: 1px solid purple;
  height: 200px;
  width: 200px;
}

.description {
  height: 155px;
}

.line {
  height: 1px;
  background-color: white;
  width: 100%;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.main-banner {
  background-image: url('/main-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}